header{
	height: 400px;
	background-image: url("images/blog_header_bg.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	margin: 0 auto;
}
nav {
	background-color: white;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	letter-spacing: 2px;
	padding: 15px 0;
	top: 0;
	word-spacing: 100px;
	overflow: hidden;
	position: fixed;
}

nav a{
	background-color: white;
	border-spacing: 50px;
}
a{
	text-align: center;
	text-decoration: none;
	color: #7575a3;
}
nav a:hover{
	background-color: #d9d9d9; 
}

h1{
	text-align: center;
	color: white;
	letter-spacing: 7px;
	font-size: 35px;
	padding: 200px;
}
body{
	margin:0 auto;
	box-sizing: border-box;
}

#firstDate{
	text-align: left;;
	color: #47476b;
	padding-left: 20px;
}
h2{
	color: #47476b;
	padding:10px;
	margin: 0px;
	text-align: left;
}
main{
	width: 75%;
	text-align: center;
	margin:0 auto;
}
main p{
	text-align: left;
}
aside{
	width: 25%;
	padding: 6%;
	margin: 10px;
}
.body{
	display: flex;
}

img {
	padding: 10px;
	width: 100%;
}
.smallImage{
	padding: 5px;
	width: 30%;
}
div{
	text-align: left;
	padding-left: 20px;
}
ul{
	text-align: left;
}
ul li:hover{
	text-decoration: underline;
}
footer{
	color: #3d3d5c;
	text-align: center;
	background-color: #b3e6ff;
	padding: 4%;
}
footer div{
	padding-top:0;
	text-align: center;
}
input{
	border: 2px solid #3d3d5c;
	margin: 0 5px;
	padding: 1% 3%;
	font-size: 15px;
	letter-spacing: 2px;
}
button{
	background-color: #b3e6ff;
	text-transform: uppercase;
	border: 2px solid #3d3d5c;
	margin-left: 35px;
	padding: 1%;
	font-size: 15px;
	letter-spacing: 2px;
}
button:hover{
	background-color: #3d3d5c;
	color: white;
}
i{
	text-align: center;
	margin:10px;
	font-size: 30px;
}

form{
	padding: 3% 0;
	width: 90%;
}
section h3{
	text-transform: uppercase;
	font-weight: 200px;
}
#topName{
	margin-right: 30px;
	width: 100%;
	padding: 10px 170px;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
}
#topEmail{
	margin-left: 30px;
	width: 100%;
	padding: 10px 170px;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;

}
textarea{
	margin: 0 auto;
	width: 82%;
	padding: 50px 50px;
	text-transform: uppercase;
	border: 2px solid #3d3d5c;
}
section{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

section form{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
section button{
	margin: 10px auto;
	background-color: white;
	width: 90%;
	text-transform: uppercase;
	text-align: center;	
}
footer{
	width: 100%;
}
#copyRight{
	border-top: 2px solid black;
	width: 100%;
	padding-top:10px; 
}